winlibs-i686-posix-dwarf-gcc-15.8skjzqxD.2.0-mingw-w64ucrt-13.0.0-r1.7z.part
msys2-x86_64-20250830.exe
i686-15.2.0-release-win32-dwarf-msvcrt-rt_v13-rev0.7z
.vscode/launch.json
.vscode/tasks.json
laba_1/1.rtf
laba_1/Отчет_Лаба_1.docx
